<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="component/header :: header"></div>
<body>
<h1>Your URLs</h1>
<table>
  <thead>
  <tr>
    <th>Short Link</th>
    <th>Original URL</th>
    <th>Expiration Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="url : ${urls}">
    <td><a th:href="@{/url/{shortLink}(shortLink=${url.shortLink})}" th:text="${url.shortLink}"></a></td>
    <td th:text="${url.originalUrl}"></td>
    <td th:text="${url.expirationDate}"></td>
    <td>
      <form th:if="${url.enabled}" th:action="@{/disable/{shortLink}(shortLink=${url.shortLink})}" method="post">
        <input type="submit" value="Disable">
      </form>
      <form th:if="${!url.enabled}" th:action="@{/enable/{shortLink}(shortLink=${url.shortLink})}" method="post">
        <input type="submit" value="Enable">
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>